<top-navigation></top-navigation>
<div class="main row">
	<side-menu class="col-md-2"></side-menu>
	<div class="content col-md-9">

		<!--<div class="panel-group">-->
			<!--<div class="panel panel-default">-->
				<!--<div class="page-header">Edit task</div>-->
				<!--<task-form task="task" on-submit="submit()"></task-form>-->


			<!--</div>-->

		<!--</div>-->

		<div class="panel panel-default">
			<div class="panel-heading">Edit task</div>
			<div class="panel-body">
				<task-form task="task" on-submit="submit()"></task-form>

			</div>
		</div>



	</div> <!-- End content! -->
</div> <!-- End main! -->