<form>
	<div class="form-group row">
		<label for="nameInput" class="col-sm-2 col-form-label">Task Name</label>
		<div class="col-sm-10">
			<input ng-model='task.title' type="text" class="form-control" id="nameInput" placeholder="Enter Task Name"/>
		</div>
	</div>
	<div class="form-group row">
		<label for="descriptionInput" class="col-sm-2 col-form-label">Description</label>
		<div class="col-sm-10">
			<textarea ng-model='task.description' class="form-control" id="descriptionInput" rows="2"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label for="fromInput" class="col-sm-2 col-form-label">From</label>
		<span class='col-sm-10 input-group'>
			<input ng-model='task.from' type='date' class="form-control" id='fromInput'/>
		</span>
	</div>
	<div class="form-group row">
		<label for="toInput" class="col-sm-2 col-form-label">To</label>
		<span class='col-sm-10 input-group'>
			<input ng-model='task.to' type='date' class="form-control" id='toInput'/>
		</span>
	</div>
	<div class="form-group row">
		<label for="assigneeInput" class="col-sm-2 col-form-label">Assignee</label>
		<div class="col-sm-10">
			<select ng-options="assignee.id as assignee.name for assignee in assignees"
					ng-model='task.assignee'
					class="form-control" id="assigneeInput">
			</select>
		</div>
	</div>
	<div class="form-group row">
		<label for="workOrderInput" class="col-sm-2 col-form-label">Work Order</label>
		<div class="col-sm-10">
			<select ng-options="workOrder.id as workOrder.title for workOrder in workOrders"
					ng-model='task.workOrder'
					class="form-control" id="workOrderInput">
			</select>
		</div>
	</div>
	<button ng-click="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
</form>